.container-fluid{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	
}

.btn-primary{
	margin-top:5px;
}
.logo{
	width:20px;

}
.card-img-top{
	height:200px;
}
.top{
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:120px;
	align-items:center;
}
.card{
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	/* height: 389px; */
	margin-bottom:20px;
}
.card-img-top{
	overflow: hidden;
	display: flex;
}
.card-img-top:hover{
	
	transition:500ms;
	opacity:80%;
}